.toggl-color-0 {
    background-color: rgb(77, 195, 255)
}

.toggl-color-1 {
    background-color: rgb(188, 133, 230)
}

.toggl-color-2 {
    background-color: rgb(223, 123, 170)
}

.toggl-color-3 {
    background-color: rgb(246, 141, 56)
}

.toggl-color-4 {
    background-color: rgb(178, 118, 54)
}

.toggl-color-5 {
    background-color: rgb(138, 183, 52)
}

.toggl-color-6 {
    background-color: rgb(20, 168, 142)
}

.toggl-color-7 {
    background-color: rgb(38, 139, 181)
}

.toggl-color-8 {
    background-color: rgb(102, 104, 180)
}

.toggl-color-9 {
    background-color: rgb(164, 80, 108)
}

.toggl-color-10 {
    background-color: rgb(103, 65, 44)
}

.toggl-color-11 {
    background-color: rgb(60, 101, 38)
}

.toggl-color-12 {
    background-color: rgb(9, 69, 88)
}

.toggl-color-13 {
    background-color: rgb(188, 45, 7)
}

.toggl-color-14 {
    background-color: rgb(153, 153, 153)
}