:global {
  @import 'base';
  @import '~normalize.css/normalize';

  // Some best-practice CSS that's useful for most apps
  // Just remove them if they're not what you want
  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  .rbc-time-header>.rbc-row:first-child {
    border-bottom: none !important;
  }

  .rbc-time-header>.rbc-row:nth-child(2) {
    display: none !important;
  }

  .rbc-header {
    padding: 0 !important;
  }

  // Fix react-select-plus z-index problem
  .Select-menu-outer {
    z-index: 999 !important;
  }

  .rbc-event-label {
    font-size: 58% !important;
  }

  .modal-body{
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }

}
